<div class="row" xmlns="http://www.w3.org/1999/html">

  <div class="col-lg-3">

    <app-category-bar></app-category-bar>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-9">

    <div class="alert alert-secondary" role="alert" *ngIf="categories?.length > 0 && currentCategoryId">
      <button type="button" class="btn btn-outline-secondary btn-sm" *ngFor="let category of categories" [routerLink]="'/category/'+ category.id">{{ category.title }}</button>
    </div>

    <div class="card mb-3 mt-2" *ngFor="let product of products">
      <div class="row no-gutters">
        <div class="col-md-2">
          <img src="https://place-hold.it/140x165" height="165" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/product/{{product.id}}">{{ product.name }}</a>
            </h5>
            <p class="card-text">{{ product.description }}</p>
          </div>
        </div>
        <div class="col-md-2">
          <h4 class="card-text mt-4"><b>{{ product.price }} </b>
            <h4 class="fa fa-ruble-sign align-top"></h4>
          </h4>
        </div>
      </div>
      <div class="card-footer bg-transparent">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <small class="text-muted">В наличии: {{ product.count }}</small>
        <div class="input-group">
        <div class="input-group-prepend">
          <a class="dropdown-item" (click)="clearErrors(); createComponent(product)" data-toggle="modal" data-target="#product_form" *ngIf="isLoggedIn"><small class="fa fa-edit d-block py-0"></small></a>
        </div>
        </div>
        </div>
      </div>
    </div>

      <div *ngIf="products?.length == 0" class="col-md-12 alert alert-warning mt-3">
        No products found!
      </div>

    </div>

  </div>
  <!-- /.col-lg-9 -->

<!--</div>-->
<!-- /.row -->
