<div class="modal fade" id="product_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="product_dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Информация о продукте</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="productForm" class="modal-body">
          <div class="form-group row justify-content-center">
            <label for="nameInput{{product.id}}" class="col-sm-5 col-form-label">Название продукта</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="nameInput{{product.id}}" formControlName="name">
            </div>
          </div>

        <div class="form-group row justify-content-center">
          <label for="descInput{{product.id}}" class="col-sm-5 col-form-label">Описание продукта</label>
          <div class="col-sm-7">
            <textarea class="form-control" id="descInput{{product.id}}" formControlName="description"></textarea>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="countInput{{product.id}}" class="col-sm-5 col-form-label">Количество</label>
          <div class="col-sm-7">
            <input type="number" class="form-control" id="countInput{{product.id}}" formControlName="count">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="priceInput{{product.id}}" class="col-sm-5 col-form-label">Цена за единицу</label>
          <div class="col-sm-7">
            <input type="number" class="form-control" id="priceInput{{product.id}}" formControlName="price">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="categoryInput{{product.id}}" class="col-sm-5 col-form-label">Категория</label>
          <div class="col-sm-7">
            <select class="custom-select" id="categoryInput{{product.id}}" formControlName="category_id">
              <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.title }}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
      </div>
      <div class="justify-content-center m-2">
        <alert></alert>
      </div>
    </div>
  </div>
</div>

