<div class="list-group">
  <div class="d-inline-block">
    <a [routerLink]="'/category/'+ category.id" *ngFor="let category of productCategories" class="list-group-item list-group-item-action"
       routerLinkActive="bg-secondary text-white font-weight-bold">
      <div class="d-flex w-100 justify-content-between">
        {{ category.title }}
        <button class="btn btn-link pr-0" (click)="clearErrors(); createComponent(category)" data-toggle="modal" data-target="#category_form" *ngIf="isLoggedIn">
          <small class="fa fa-edit d-block py-0"></small>
        </button>
      </div>
      <small>{{ category.description }}</small>
    </a>
  </div>
</div>
