<div class="main">
  <h4 class="col text-center mt-3">EZ Shop<small class="align-top">catalog</small></h4>
  <hr>
  <h4 class="ml-4 mt-3">Регистрация</h4>
  <div class="form-group ml-4 mt-3 mr-4">
    <label for="emailInput">Электронная почта</label>
    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
  </div>
  <div class="form-group ml-4 mt-3 mr-4">
    <label for="nameInput">Имя</label>
    <input type="text" class="form-control" id="nameInput" placeholder="Имя">
  </div>
  <div class="form-group ml-4 mt-3 mr-4">
    <label for="passwordInput">Пароль</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Не менее 8 символов">
  </div>
  <div class="form-group ml-4 mt-3 mr-4">
    <label for="passwordConfirm">Подтвердите пароль</label>
    <input type="password" class="form-control" id="passwordConfirm" placeholder="Не менее 8 символов">
  </div>
  <button class="btn btn-secondary btn-lg d-block mx-auto">Зарегистрироваться</button>
</div>
